In [43]:
import pandas as pd

# Google Sheets file ID
sheet_id = "1SEIzYGdGSc5ChfpadsA9bU8mYrA7WSq-oMsGaGClRRE"

# GID of the sheet tab you want to read (from the URL)
gid = "0"

# Construct the CSV export URL
csv_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv&gid={gid}"

# Read the sheet into a DataFrame
df = pd.read_csv(csv_url)

# Display the DataFrame
print(df)

          Date                                            Details  \
0   28/08/2025                                       Intro + task
1    29/8/2025                                  task + scrum call
2     2/9/2025                                             tasks
3     5/9/2025                                 scrum call + Tasks
4     7/9/2025                                             tasks
5     9/9/2025                               A Quick Call + Tasks
6    11/9/2025  Scrum Calls 2 + Category A Report Generation +...
7    12/9/2025                Scrum Calls + Tasks on Cat A, Cat B
8    13/9/2025  Tasks on Category A - Country Report - Contact...
9   14/09/2025               Scrum Call + Tasks on updates + KPIs
10  15/09/2025                            Tasks on updates + KPIs
11  18/09/2025                   Scrum Calls + Data Updation Task
12  19/09/2025  Tasks on updates with Matrix, CoE Response Due...
13  22/09/2025                                         Scrum call
14  23/09/2025                                      updation task
15  29/09/2025                            Multiple updation tasks
16  30/09/2025                       Scrum Calls + Updation tasks
17   2/10/2025                         Scrum Call + Updation Task
18  15/10/2025  Srucm Call + Data Updation Task + County Profi...
19  22/10/2025                                Srucm Calls + Tasks
20  23/10/2025                        Scrum Call + updatoin tasks
21  27/10/2025                        Scrum Call + updation tasks
22  28/10/2025                        Scrum Call + updation tasks
23  30/10/2025                   Scrum Call + Agency profile task
24  31/10/2025  Agency Profile and Team Profile Tasks + Scrum ...
25   3/11/2025                                                NaN

    Time (hours) Payment Status Amount Paid
0            2.0           Paid      6100/-
1            2.5           Paid          NaN
2            2.0           Paid          NaN
3            3.5           Paid          NaN
4            1.0           Paid          NaN
5            3.0           Paid          NaN
6            5.0           Paid          NaN
7            2.5           Paid     10000/-
8            1.0           Paid          NaN
9            2.5           Paid          NaN
10           1.0           Paid          NaN
11           3.0           Paid          NaN
12           5.0           Paid          NaN
13           0.5           Paid          NaN
14           0.5           Paid      10000/-
15           1.5           Paid          NaN
16           3.0           Paid          NaN
17           1.5           Paid          NaN
18           2.5           Paid          NaN
19           2.5           Paid          NaN
20           1.5           Paid       5000/-
21           1.0           Paid          NaN
22           1.5           Paid          NaN
23           2.5           Paid          NaN
24           4.0           Paid          NaN
25          -9.5            NaN      10000/-

In [44]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Read Google Sheet as CSV
sheet_id = "1SEIzYGdGSc5ChfpadsA9bU8mYrA7WSq-oMsGaGClRRE"
gid = "0"
csv_url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv&gid={gid}"
df = pd.read_csv(csv_url)

# Step 2: Define SQL Server connection
server = r'DESKTOP-DVCTLQ2\SQLEXPRESS'  # Use raw string or escape backslash
database = 'meanlifestudies'
username = 'mahendra204'
password = '9441766728'
driver = 'ODBC Driver 17 for SQL Server'

# Step 3: Create SQLAlchemy engine
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)

# Step 4: Push DataFrame to SQL Server
df.to_sql('crypto_prices', engine, if_exists='replace', index=False)
print("✅ Data successfully loaded to SQL Server!")

✅ Data successfully loaded to SQL Server!

In [46]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Define SQL Server connection
server = r'DESKTOP-DVCTLQ2\SQLEXPRESS'  # Use raw string or escape backslash
database = 'meanlifestudies'
username = 'mahendra204'
password = '9441766728'
driver = 'ODBC Driver 17 for SQL Server'

# Step 2: Create SQLAlchemy engine
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)

# Step 3: Read data from SQL Server table
query = "SELECT * FROM customers"
df = pd.read_sql(query, engine)

# Step 4: Display the DataFrame
print(df.head())

   id         name                   mai_id
0   1     mahendra     mahendra@example.com
1   2         mahi         mahi@example.com
2   3       ganesh       ganesh@example.com
3   4  vivekananda  vivekananda@example.com
4   5        sobha        sobha@example.com

In [47]:
df1 = pd.read_sql('select * from matches', engine)

In [48]:
df1

   id team1 team2 match_result
0   1   CSK   RCB        team2
1   2    MI   SRH        team2
2   3   KKR   CSK        team1
3   4   RCB   LSG        team1
4   5    GT    MI         draw
5   6   SRH   LSG        team2
6   7   LSG    GT        team1
7   8    MI   SRH         draw
8   9  PJSK   RCB        team2

In [49]:
df1.to_csv('Desktop/abc.csv', index=False)